[2017-06-21 18:47] SamWhited opened #6 "Add allocation free API"
I'd like to see a generic "transformation" API that can be used to transform data across the subcrates, possibly without requiring a heap allocation if some mutable storage is already allocated (eg. that can be used for IDNA transformations as well as for normalization, giving the two packages a consistent API). I've recently been playing with adapting the Go [`text/transform`](https://godoc.org/g

[2017-06-27 07:30] behnam opened #18 "Add Conformance Test to ucd-normal component"
Use the *extracted* data file for `DecompositionType` property to test conformance of the implementation.

Test source file:
http://www.unicode.org/Public/UCD/latest/ucd/extracted/DerivedDecompositionType.txt

NOTE: The test should also verify that the characters **not** listed in the file get `None` value for the property.

Similar conformance test code: https://github.com/behnam/rust-unic/blob/m

[2017-06-27 07:37] behnam commented on #6
This is very interesting, @SamWhited! I haven't worked with transforms myself, so not sure what are the common practices. Can you provide a snippet of what how such an API would be used?

PS. At the moment, I'm focused on the UCD component, making sure the Character Property API is consistent between components. I think it would take me a bit longer to get to the *string-level* APIs.

[2017-06-27 17:38] SamWhited commented on #6
I can't claim to be a Unicode API expert; I'm not even sure if this is a common API design for this sort of thing, but having some form of allocation free API definitely seems desirable since many of these transformations are going to be extremely common, eg. happening on every network request when implementing protocols that support internationalization.

One example might be my [`xmpp-addr`](htt

[2017-06-27 22:03] behnam opened #20 "[normal] Implement isNFC()"
Many APIs need to check input for being NFC, and it's something that can be done pretty fast for a majority of cases.

Ref: http://www.unicode.org/reports/tr15/#Detecting_Normalization_Forms

[2017-06-27 22:25] behnam opened #21 "Create shortcuts for ASCII inputs"
A big part of the input to many Unicode algorithms is ASCII-only or ASCII-majority, specially in early stages of application development.

Most properties/algorithms have a clear and easy effect on ASCII input, that can be put together in a couple of lines of code, usually. And in many cases, this only adds one *if* condition to the *log(n)* bsearch checks that follows.

We want to benefit from th

[2017-06-27 22:30] behnam commented on #6
Right. I see what you mean.

There's on goal I already have for the string-level API, which is implement the *isX* family of functionalities, specially a fast `isNFC()`, which is usually a requirement for API boundaries. (To accept a message, or reject, `toNFC()`, ... on failure.) So, what would be an allocation free *verification* method, which is pretty common. (https://github.com/behnam/rust-un

[2017-06-28 18:17] SamWhited commented on #6
I like that idea too; the Go version uses the concept of a "spanning transformer" for that (a transformer that also has the ability to report the longest span of text that will require no transformation). This means that helper functions that use the transformers can sometimes move much faster by searching for spans first, copying bytes that don't need to be transformed, and then only running the

[2017-06-28 18:23] SamWhited commented on #6
Just to spitball an API design, I've been playing with something like this:

[code]

[code]

[2017-06-30 20:25] behnam opened #23 "Use Option<(u8, u8)> for ucd::Age"
Using `Option<(u8, u8)>` for `Age` property allows more flexibility in the API and is nothing short of the current `enum`.

As suggested here: https://users.rust-lang.org/t/introducing-unic-unicode-and-internationalization-crates-for-rust/11447/17

[2017-07-01 10:04] nox commented on #23
You may want to not actually use `Option<T>` and a tuple, but have an isomorphic enum such as:

[code]

[2017-07-03 21:25] behnam commented on #23
Okay, I landed on this design:

[code]

## Rational

* Using integer-based value instead of enumerated values means that there can be `Age` type values which are not *valid* UCD Age property values. It's not a big deal, because we can have (and do already have) integration tests to ensure all variants provided by the standard. And, now we have forward-compatibility, which is desired.

* I'm reusin

[2017-07-03 21:26] #23 closed

[2017-07-13 20:52] CAD97 commented on #18
I can do this one!

[2017-07-13 22:03] CAD97 opened #29 "[ucd/normal] Characters 가 through 힣 have the wrong Decomposition_Type"
See #27 which adds a failing test.

[code]

Relevant line from [DecompositionType.txt]:

[code]

[DecompositionType.txt]: http://www.unicode.org/Public/UCD/latest/ucd/extracted/DerivedDecompositionType.txt

[2017-07-14 00:37] behnam commented on #29
Great find! Yeah, Hangul characters have a special handling that's done algorithmically and not based on data files. We need to implement it.

[2017-07-14 07:50] #18 closed

[2017-07-14 19:58] CAD97 opened #33 "Enact The Not Rocket Science Rule Of Software Engineering"
We should enforce [The Not Rocket Science Rule of Software Engineering] with the help of [bors].

The benefit of using bors is well hashed out in the Rust community. Let's bring the benefits to UNIC!

This does not have to be done right away, but I would suggest integrating with bors before 1.0.0.

[The Not Rocket Science Rule of Software Engineering]: https://graydon2.dreamwidth.org/1597.html
[bo

[2017-07-14 20:39] CAD97 commented on #20
isNFC, isNFKC, isNFD, and isNFKD rely on derived Quick_Check properties from [DeriedNormalizationProps]. If I'm reading tr44's [Decompositions_and_Normalization] information correctly, the intent is that these derived properties should be stored by the library and used by these algorithms in order to

Do we want to include these properties? Where should they go? `unic::ucd::normal::quick_check` se

[2017-07-14 21:00] behnam commented on #20
Right. Agreed that having the property under `unic::ucd::normal` as a separate crate is the best option. Although it comes with the cost of making it public, which is not encouraged, but I think it's fine, because it's a low-level create.

To stay consistent with the UAX#44 recommendation to not put `Quick_Check` in a public API, we can just not expose it in the higher-level components (`unic::ucd

[2017-07-14 21:10] behnam opened #34 "Exclude tools, data and data-dependent tests/benches in packages"
We should use the [Cargo `exclude`](http://doc.crates.io/manifest.html#the-exclude-and-include-fields-optional) option to not publish data files to crates.io, as they are usually very large and almost of no use for 99.99% of the callers.

See https://github.com/servo/unicode-bidi/issues/43 for report issue with publishing tests without data when published crate is being used in repackaging.

See a

[2017-07-14 21:13] behnam commented on #33
Absolutely! This will be resolved when we find a home for UNIC in one of the existing orgs with better devops infra. Stay tuned.

[2017-07-14 21:15] CAD97 commented on #20
I believe since the current `StrNormalForm::nfd` et. al. are conversion methods, the naming convention of `to_nfc` et. al. is desired.

And doesn't it say _to_ include `Quick_Check`?

Rather it's Decomposition_Mapping, Composition_Exclusion, and Full_Composition_Exclusion which I read as being intended private to the implementation rather than exposed. Since we're implementing the algorithms in `u

[2017-07-14 21:18] behnam commented on #20
Oops! You're right. `Quick_Check` is indeed recommended to be exposed. So, yeah, we can even expose its types in `unic-ucd`.

[2017-07-16 02:20] behnam opened #35 "Cargo package metadata fields for all crates"
We need to figure out a good way to have all Cargo package metadata fields set, since not all packages have `README.md` and `LICENCE-*` files next to them.

Unfortunately, it's not that clear yet how `package.readme` is being used in a package yet. This needs follow up with the Cargo team.

But, if we assume that `package.readme` is going to be used as a longer/formatted description of the crate p

[2017-07-16 02:29] behnam opened #36 "Write up CONTRIBUTING.md"
Should write up `CONTRIBUTING.md` with the basics or how code is organized and other development guides.

[2017-07-16 19:27] CAD97 opened #37 "[ucd/bidi] BidiClass should use the long names"
The [Bidi_Class_Values] enum should use the long names of the bidi classes, for clarity and to fit in better with the rest of the ucd api and the Rust ecosystem.

This can probably be bikeshedded ad nauseum, but defaulting to the descriptive names seems the better idea and [§5.8.1 Property Aliases] tells us that the long symbolic names are the preferred aliases. (Cases like `Age` where we can prov

[2017-07-16 21:14] CAD97 commented on #34
Is there a way to dry-run `cargo publish`?

Without being able to test it, this might work (though since (I think) `exclude` doesn't get inherited it would have to be applied to all packages):

[code]

[2017-07-17 00:19] behnam commented on #34
`cargo package` creates the `.crate` file, which is what gets uploaded to crates.io, and downloaded later for consumption. The output is saved as `target/package/<package-name>-<package-version>.crate`.

[2017-07-17 00:53] behnam commented on #37
Good point and great idea! Having a mod that only aliases the names sounds like the best alternate to allow access to the same enum variant under different names, while supporting `use ...::*` for both formats.

For the mod name, I like the term `abbr_names` better, because it makes it clear what kind of alias the names are, and leave it open to have other sets of aliases, if needed in any case.

[2017-07-17 01:28] CAD97 commented on #37
If the first is valid, it makes the most sense. Even if it's not actually that way, it feels like the `abbr_names` namespace is a child of `BidiClass`.

I just tested that, and I couldn't get it to work.

Because it's exposed currently as `unic::ucd::BidiClass`, maybe have the "pseudo enum" as `unic::ucd::BidiClassAbbr`:

[code]

[2017-07-17 16:28] behnam commented on #37
Generally, the reason I usually prefer to keep things as children of a main type (struct/trait) is to make them easier to use having the main type imported (`use`d).

Looks like having `mod` under `impl` is not something supported by the language, so `unic::ucd::BidiClass::abbr_names` out of question.

About using a sudo-type `mod`, I would prefer to avoid it because it has issues in two fronts: n

[2017-07-17 19:04] #37 closed

[2017-07-19 02:56] CAD97 opened #40 "CanonicalCombiningClass should probably be a newtype"
(Tuple struct, whatever)

Blocking on associated consts (we like that don't we), here's the proposed design:

[code]

Since `CanonicalCombiningClass` should is clearly a distinct concept from a `u8`, it should be a distinct type. We should use Rust's mechanisms to express that with this zero cost abstraction.

[2017-07-19 07:50] behnam commented on #40
So, this is the area that we haven't spent much time yet. CCC is a Numeric-type property, meaning that it basically represents a number. But, it also is an Enumerable-type property, and that's how it's mostly used in existing code.

The main reason to have it of type Numeric in Unicode is to define *ordering* for the values. Since we can do that easily for `enum`s in Rust, it's fine to convert it

[2017-07-19 18:40] CAD97 commented on #40
By my reading `Canonical_Combining_Class` needs to be a numeric type in UNIC, because

As an example, while 10-199 are assigned as a block to the aliases `Ccc10` - `Ccc199`,

204, 208, 210, and 212 are present on the [Values table](http://unicode.org/reports/tr44/#CCC_Values_Table) but do not have an assigned long alias.

We are guaranteed that

So it does really seem like this numeric property sh

[2017-07-19 20:09] behnam commented on #40
The [table](http://unicode.org/reports/tr44/#CCC_Values_Table) also misses *Long* value for row `199`, but the text clearly saying that `ccc=199` has a *predictable alias* as `Ccc199`. And I believe that's also the case for rows 204, 208, 210, and 212.

I'm going to submit a feedback about this problem in the spec.

That said, I agree that the numbers are actually important here. But, maybe we can

[2017-07-19 20:28] #34 closed

[2017-07-19 20:35] behnam commented on #40
Actually, you're right, there a few CCC that do not have a long name. Those lines are missing in `PropertyValueAliases.txt`.

So, yeah, let's make CCC a newtype and use `long_names` and `abbr_names` modules to define `const`s.

Here's the list from UCD-10.0.0:
[code]

Right now we have to do these manually, but I think we can eventually have a generator script that takes `PropertyValueAliases.txt`

[2017-07-19 20:38] CAD97 commented on #40
You sent that in while I was writing a post! It's below.

Yes, writing the generation would not be very difficult at all on top of what I've got for the generation pipeline currently. Since many values lack names, it seems best to newtype on top of the representation, though a `#[repr(u8)]` would be possible (though require generating names for _all_ theoretically valid values even without names).

[2017-07-19 21:13] behnam opened #43 "Expand components/ucd/tests/category_tests.rs"
We have a cross-component test in `components/ucd/tests/category_tests.rs` that checks values of the Bidi_Class property against General_Category property, based on UAX#9's [Table 4. Bidirectional Character Types](http://www.unicode.org/reports/tr9/#Table_Bidirectional_Character_Types).

Now that we have `component/ucd/category`, we can expand the test to also cover General_Category values.

[2017-07-19 21:18] CAD97 commented on #43
s/utils/ucd @behnam

[2017-07-19 21:51] behnam commented on #43
Huhu. Thanks, @CAD97!

[2017-07-25 19:58] behnam opened #50 "Pack all utils together in one crate: unic-utils"
The reason for having separate crates for UNIC components is the large data size for some of them, which may not be needed in other parts. Specially, UCD components all having data of all sizes, and not all algorithms need all of that data.

That rule doesn't apply to utility code, which basically doesn't have any data tables. So, it doesn't bother to have all of them under one umbrella crate and

[2017-07-26 07:21] behnam opened #51 "Expose versions of non-UCD data"
At the moment, we only have `UNICODE_VERSION`, which exposes the version of UCD data in each component. We need to have API and data for other versions, like IDNA Version, Emoji Version, etc.

[2017-07-26 07:55] calum commented on #43
Hi, I would like to work on this. I'm new to unic but saw this in the `this-week-in-rust` update.

[2017-07-26 09:41] calum commented on #43
Hi again,

I've been looking into this issue for a couple of hours (after reading up on unicode). I'm not sure what needs to be done here. Do you want a second test which will check that all the General_Category values are correct `for cp in iter_all_chars()`?

Or did you just want to replace the `unic_ucd::normal::is_combining_mark` with the General_Category `is_mark()` implementation?

Thanks fo

[2017-07-26 15:38] CAD97 commented on #43
@calum I believe the idea here is that we want a test to make sure that `GC::is_mark` agrees with `normal::is_combining_mark`.

So, leaving the test which exists alone, something along the lines of:

[code]

But that actually brings up a point about allowing `normal::is_category_mark` to be implemented off of `GeneralCategory::is_mark` if it's being used. If it's not being used, it's better to hav

[2017-07-26 17:01] behnam opened #52 "API to override char property values for Private-Use chars"
From <http://www.unicode.org/faq/private_use.html>:

Basically, a system can assign its own internal meaning to PUA characters, and with meaning comes the character properties. UNIC should allow override of property values for PUA characters.

How we can do that in Rust while maintaining Cargo package boundaries could be tricky and needs some pondering.

What assumptions can we make?

* I assume i

[2017-07-26 17:07] behnam commented on #43
Thanks, @calum, for working on this, and welcome! :)

First, `normal::is_combining_mark` and `GC::is_mark()` are expected to return the same results. Since we have duplication functions, we can have a consistency test for it, too. The reason we have two separate implementation is that 1) the `category` component didn't exist when I brought in the `normal` component, then 2) all `normal` needs from

[2017-07-26 17:24] CAD97 commented on #50
It makes sense to me.

[2017-07-26 17:31] CAD97 opened #53 "[ucd/normal] [proposal] Allow ucd-normal to use mark information from ucd-category"
`unic-ucd-normal` has its own table of symbols with a general general category of `Mark`. This duplication from `unic-ucd-category` is by design because ucd/normal does not need the entire classification that ucd/category exposes.

However, when including `unic-ucd` or just happening to want ucd/category as well, this is then duplicated information.

Hence, the proposal, which has three resolution

[2017-07-26 17:33] CAD97 commented on #36
Is this finished? #46 added the contributing file.

[2017-07-26 17:37] behnam commented on #53
Yeah, agreed. Adding a feature for it is the best first step. We can compare the build sizes later and decide if we want to drop the old implementation.

So, `unic-ucd-normal`'s `default` feature would stay empty.

For the shared table, you just need to name the feature `unic-ucd-category`, and having the component as *optional* dependency, it automatically means that this dependency should be ena

[2017-07-26 17:39] behnam commented on #36
Yeah, wrote the initial version. Please feel free to submit a PR if I missed anything.

[2017-07-26 17:39] #36 closed

[2017-07-26 18:57] #50 closed

[2017-07-26 23:37] calum commented on #43
Thank you both for the in depth help! I think I have everything I need to finish this off now. I'll aim to put in a pull request by Saturday (hopefully earlier).

I really appreciate the help, and the opportunity to contribute.

[2017-07-27 07:59] #53 closed

[2017-07-27 17:32] calum commented on #43
Hi again,

The tests don't seem to be passing as I expect them to. I hope one of you two could give me another pointer.

The `is_mark()` test was very straightforward and I have that done (I realise that `normal::is_combining_mark()` has been updated to use `GC::is_mark()` but I will leave the test there anyway).

[code]

Where I am having issues is with the [Bidirectional Character Types table](h

[2017-07-27 20:11] calum commented on #43
Actually, I think I'm working it out now. So an example of one of my tests looks like this:

[code]

[2017-07-27 21:47] calum commented on #43
Pull request #61 includes the typo which I was fixing in PR #60

[2017-07-30 07:10] #40 closed

[2017-07-31 17:25] behnam opened #66 "CharProperty: API to get all possible values, if applicable"
Some properties, like `GeneralCategory` and `BidiClass`, are a flat enum, and having a type function returning all possible values of them can help with writing tests.

For example, having an iterator over GC values can reduce this test to 20 execs of the loop block, not all Unicode code points: https://github.com/behnam/rust-unic/blob/master/unic/ucd/category/tests/coverage_tests.rs

[2017-07-31 19:43] calum commented on #66
I'm interested in this one, if it's not already being worked on.

Just to clarify: as an example, you want a function to return all chars that are `GC::MathSymbol`. Or, do you want a function to return all chars that are `GC.is_letter()`.

[2017-07-31 20:02] calum commented on #66
I've thought about it a bit more now and you actually want a function which takes a char and returns all the types it fits into? Do you want a different function for BidiClass and GeneralCategory, or one function to return all the possible values from both?

[2017-07-31 21:12] behnam commented on #66
Thanks, @calum, for the interest. The thing is that I filed this issue as a tracker for the feature, which is going to be implemented by the macros @CAD97 and I are working on. We are building tools to auto-generate most of the code that's already manually-generated, so we don't have to maintain the little things, like the feature mentioned here, manually.

There are a couple of other good starter

[2017-07-31 21:16] behnam commented on #29
@calum, this is good starter task. What you need to do is to use the const values in <https://github.com/behnam/rust-unic/blob/master/unic/ucd/normal/src/hangul.rs> to add a check for `DecompositionType` implementation, to return the correct value for Hangul chars.

To test your work, you need to remove the `#[should_panic(...)]` line from the conformance test (<https://github.com/behnam/rust-unic

[2017-07-31 21:27] calum commented on #29
Sounds good! I'll get to work. Thanks for the tips.

[2017-08-01 19:58] CAD97 commented on #43
#61 was merged. Should this be closed?

[2017-08-04 08:20] behnam commented on #43
Yep, done here. Thanks, @calum!

[2017-08-04 08:20] #43 closed

[2017-08-04 08:24] behnam commented on #66
We have the API in and there's an integration test using it, so we can track the implementation directly in the code.

[2017-08-04 08:24] #66 closed

[2017-08-04 17:56] behnam opened #71 "Release UNIC-0.5"
* Unicode_API: Add new UCD properties supported.
* Update package versions and publish.

[2017-08-04 17:58] behnam commented on #29
@calum, this is the main code-related issue blocking UNIC-0.5 release. Do you think you can submit a PR today or early tomorrow, or would you mind if I fix this myself and find you a new issue next week?

[2017-08-04 18:00] behnam commented on #29
Btw, sorry to not mention that before. I just set up the milestone tags for all major releases, so we can better communicate these matters.

[2017-08-04 18:18] calum commented on #29
Hi, sorry I won't be able to get it finished this weekend. I've had family visiting this week so I haven't had time unfortunately.

I'll find another issue to work on next week.

[2017-08-04 18:19] behnam commented on #29
No worries, @calum. I'll fix this one and we find you new issues next week. Thanks anyway! :)

[2017-08-04 22:30] behnam commented on #29
Fixed by <https://github.com/behnam/rust-unic/issues/72>

[2017-08-04 22:30] #29 closed

[2017-08-05 18:29] behnam opened #76 "Drop dependency on rustc_test"
Background: <https://github.com/rust-lang/rust/issues/43683>

Integration tests using `rustc_test`, although look nicer in the actual test file, aren't that organic (files cannot be just copy-pasted) and can break regularly, because of the changes to rustc internal.

For these kinds of tests, we have an alternate solution which collects failed test cases and throws one panic at the end, if there a

[2017-08-05 18:31] behnam commented on #76
Maybe we should do this for UNIC-0.5. I'll take a look this weekend.

[2017-08-05 21:47] #76 closed

[2017-08-05 22:13] #35 closed

[2017-08-05 23:37] #71 closed

[2017-08-08 07:14] CAD97 commented on #20
@behnam This just popped into my head: the rename should be `unic_normal::StrNormalForm::nfd` => `unic_normal::StrNormalForm::into_nfd` since it consumes `self`. It could, however, not consume `self` on `str`...

[2017-08-08 21:02] behnam commented on #20
Right. And I'm not sure why it's consuming the source. Could be intentional, just to prevent accidental usage after `nfc()` is available.

If there's no impl reason to keep it consuming, I think we better open it up to just borrow, and rename it to `to_nfc()`, which is what this functionality is normally called.

And, we will hve `is_nfc()` next to it, and iff `is_nfc()`, `to_nfc()` would be trans

[2017-08-08 21:12] CAD97 commented on #20
I believe the reason `nfc()` is consuming right now is the `impl<I: Iterator<Item=char>> StrNormalForm<I> for I`. It makes sense to offer that, such that e.g. a stream of data from the internet (after being passed through a bytestream -> charstream combinator) can be converted into normal form. I think we'll want to offer two trait interfaces, one that takes a `&str` and returns a union of `str::I

[2017-08-09 02:02] behnam opened #90 "CharProperty::display() ?"
Do we want to add `display()` as an instance method to `CharProperty` API? We already have `impl fmt::Display` for it, but returning `&str` would be useful in cases that the display string is not expected to be matched with formatting.

I have seen both cases in third-party libraries.

What do you think?

[2017-08-09 16:52] CAD97 commented on #90
`display()` would have to return `String` for the case when we turn `Long_Name` into `Long Name` via `replace('_', " ")`.

Because of that, I'm slightly in favor of just letting consumers use `format!("{}", property)`.

[2017-08-09 17:29] behnam commented on #90
Either way, we will use the `replace('_', ' ')` call as a fallback. So, I'm not sure what you're implying here. Do you mean that `display()` is no necessarily cheap, as someone would expect?

[2017-08-09 17:32] CAD97 opened #91 "Implement CharRange type"
[assign: @CAD97]

Replace usages of `(char, char)` as an inclusive range with a custom [Range](https://doc.rust-lang.org/std/ops/struct.Range.html) struct adapted for use on characters.

[2017-08-09 17:34] CAD97 commented on #90
Here I'm specifically mentioning that `fn display(&self) -> &str` is impossible. Because we are unable to provide a version returning `&str`, I think it is best to just use the `format!` call to return a `String`.

[2017-08-09 18:25] behnam opened #93 "Enhance CharProperty API for fetching values"
Add API to `CharProperty` types to fetch property values for `CharRange`, efficiently.

Also, for the current API, `of(ch: char)`, we can introduce locality caching of the last-seen range in the table. But, this would work in most real-world cases only if we also have a shortcut for ASCII range that does not change the locality.

[2017-08-09 18:39] behnam commented on #91
Filed https://github.com/behnam/rust-unic/issues/93 as a follow up to this, for `CharProperty` API accepting `CharRange` as input.

[2017-08-10 01:12] behnam commented on #33
I have enabled @bors-ng (https://github.com/apps/bors) and here's the first PR merged with it: https://github.com/behnam/rust-unic/pull/96

[2017-08-10 01:12] #33 closed

[2017-08-10 17:54] CAD97 commented on #91
I found [`char-iter`](https://github.com/huonw/char-iter) on crates.io after a little digging, but that's only an iterator and not an actual range object. A cursory search found only `better-range` that actually provided a range over characters, and that crate doesn't have documentation or source links on crates.io.

(Also, both crates are two years old, but then again character iteration isn't go

[2017-08-10 18:55] behnam commented on #91
Thanks for the research, @CAD97. Very helpful.

Yeah, now thinking about it again, looks like things like `char_property` and `char_range` can be standalone crates, and not just parts of `unic-utils`, so they can be easily everywhere.

That said, I like the idea of keeping all these things under one repository, because it allows faster development and one-step reviews, instead of going back and fo

[2017-08-10 19:52] CAD97 commented on #91
That seems like a good path forward to me!

[2017-08-10 20:49] behnam commented on #90
If we skip the `replace()` call, which is just a bit of fanciness, we can keep the return type as `&str`.

[2017-08-10 20:56] CAD97 commented on #90
If we skip the modification of the long name, it would be worth it to provide the display fn returning `&str`.

Idea:

[code]

[2017-08-10 21:08] behnam commented on #90
Yeah, makes sense to have something like `display_name()`, and on which `display()` would fallback when no `display` string is defined.

The only thing is naming that function, since `display_name()` can be confused with `display()` itself, which is kind of returning a name already, but tries to be more human-friendly.

We can call it `best_name()` or just `name()`. That's the best I can come up w

[2017-08-10 21:14] CAD97 commented on #90
The idea (really roughly presented) was actually that `display_name` would contain the functionality currently in the impl of `Display::fmt`, which would then just call `display_name`. Unfortunately Display still has to be impl'd on a by-struct basis since you cannot do it over a type parameter.

[2017-08-10 21:16] behnam commented on #20
Agreed that we probably need two (or more) sets of API for these functionalities. Working on `&str` can be very different, performance-wise and borrow-wise, from char-stream.

Right now we have NFC in `unic-normal`, `to_ascii`/`to_unicode` in `unic-idna`, some steps of `BidiInfo::new()` in `unic-bidi`, which all can share a similar API.

Related issue: https://github.com/behnam/rust-unic/issues/6

[2017-08-10 21:29] behnam commented on #90
Okay, `display()` vs `fmt::Display::fmt()` is one issue. We don't have to decide on that right now.

Now, we have a bunch of optional strings defined for each variant in the marco. We need a consistent API for accessing them. I think for every attribute `xyz`, the accessor method for the string should be either `xyz()` or `xyz_name()`. We're already going with the latter, which is fine. We will ne

[2017-08-10 21:41] CAD97 commented on #90
`human` feels right to me. `desc` is nice as it's the same length, but that's not really a metric we should chose naming off of. "Human name" better describes what you should be providing in any case. So we'd have:

[code]

[code]

By leaving out the "rust name" fallback in `Display::fmt` (or `name()` or whatever other method), we could even have Rust match-exhaustiveness check enforce that at lea

[2017-08-10 21:44] behnam commented on #90
Yeah, that's a good call. For the logic that would return String, let's have it be called via `Display`/`format`.

[2017-08-11 00:59] behnam opened #107 "Implement Serde"
At the moment, only some components have `serde` support. We should start implementing serde everywhere, as an optional dependency.

[2017-08-12 01:04] behnam commented on #91
I think we can generally improve `Range<char>` in rustc, so we can drop this class later. But, for now, we need the functionality and this model is the best abstraction, and easier to replace with built-in libs later.

Some ideas for now...

We want `CharRange` to implement `std::ops::Range`, and we would need a `CharRangeInclusive` to implement `std::ops::RangeInclusive`.

Both will be implementi

[2017-08-12 01:11] CAD97 commented on #91
`ops::Range` is a struct, so for now we need to just replace it. Hopefully, as time goes on, we can fold this into `ops::Range<char>`. For now I've made two structs: `CharRange` and `CharIter`. The range object is effectively a fake `ops::Range<char>` except instead of implementing `Iterator` it implements `IntoIterator<CharIter>`. `CharIter` is effectively a slightly modified version of the itera

[2017-08-12 01:17] behnam commented on #91
Right, right, not traits to implement, but types to stay similar to.

How about `CharRangeInclusive`? Don't we need them for those data table records starting/ending at the edges of char boundaries?

[2017-08-12 01:23] CAD97 commented on #91
I've just done an inclusive range. The reasoning is that that's how character ranges are traditionally described, such as the regex set `[a-z]`, which includes both `a` and `z` in the set.

[2017-08-12 01:28] behnam commented on #91
Well, I don't really care much about the exclusive range, but I want us to stay as close to rustc as possible in semantics of the names. If we only have an inclusive range, I say we should call it `CharRangeInclusive`.

For easy of use of the shorter syntax, we can have a `chars!(start, end)` macro, that returns the inclusive range. This is short, easy to ready, and not breaking consistency with r

[2017-08-12 01:33] CAD97 commented on #91
I've submitted the PR so you can see the code; it checks out but I'm currently expanding docs and writing tests. I wouldn't be unhappy actually making `CharRange` and `CharRangeInclusive`. The `chars!` macro idea is a good one; we can even enable `for c in chars!('a'..='z')` with the macro!

[2017-08-12 01:39] behnam commented on #91
Now that we want to be fancy, we can even support the `U+xxxx` syntax in the macro, so we can have this:
[code]
:smile:

[2017-08-12 02:03] CAD97 commented on #91
I'm pretty sure that if we want to do that, we'll need a procedural macro. There's no way within `macro_rules!` hygiene to convert `U+0061` to `'\u{0061}'`.

[2017-08-12 07:55] behnam commented on #91
Yeah, that was mostly a joke. But, if we ever end up writing a procedural macro for building transformation pipelines, we can consider supporting the `U+` format.

[2017-08-13 09:16] behnam opened #114 "[char/property] Document un-enforced expectations"
Background: https://github.com/behnam/rust-unic/pull/113#issuecomment-322031006

Need to document how to define `of()`, since PartialCP and CompleteCP overlap.

[2017-08-13 09:30] CAD97 commented on #91
Closed by #112

[2017-08-13 09:30] #91 closed

[2017-08-13 20:21] behnam opened #116 "Organizing benching code"
In `unic-bidi` (and going back to the source `unicode-bidi` crate), I had added `bench_it` feature to not run benching on every single test run.

In `travis.yml`, benching is only run once and on the nightly rustc.

I think we did this because `#[bench]` was not stable yet. I think it's got stabilized now. Is that so?

Also, it *is* common to have simple data-less benches inside the modules, like

[2017-08-13 21:05] CAD97 commented on #116
For code in the `benches` folder, the `bench_it` feature is pointless because it's only compiled and run when you use `cargo bench`.

Benchmarks are unstable (rust-lang/rust#29553) because `extern crate test` requires a feature gate.

Without another gating feature, you cannot test on stable if you have `#![cfg_attr(test, feature(test))]`.

(Somewhat surprisingly, `#[cfg(bench)]` doesn't complain.

[2017-08-13 21:23] behnam commented on #116
As you said, I believe there's no plan to have `cfg(bench)`, and benches are considered part of `cfg(test)`.

And, along the same line, I **think** all files under `benches/` are built and run with `cargo test`, as well. I believe that was the reason I had to gate my benches with a feature, to only run on nightly, otherwise they would break a stable `cargo test`.

[2017-08-13 21:25] CAD97 commented on #116
Well, if it was before, it's not anymore. `unic-char-range` has a `benches` directory with benchmarks and no benchmarking feature.

[2017-08-13 21:33] behnam commented on #116
Cool! If it works fine in `rustc:1.17.0`, we can drop the branch. I'll take care of it soon.

[2017-08-14 00:24] CAD97 commented on #90
This was closed by #117.

Decision was to have `EnumeratedCharProperty::human_name() -> &'static str` (implemented).

`NumericCharProperty::human_name() -> Cow<'static, str>` is on the drawing board.

[2017-08-14 00:24] #90 closed

[2017-08-14 01:00] CAD97 commented on #52
Boring, touches-every-table, would-work-now solution:

- New crate, `unic-pua-override`
- All crates have an optional feature/dependency on `unic-pua-override`
  - This is extended to any UNIC dependencies of a UNIC crate
- `unic-pua-override` has a static [`RwLock`]`<Map<char, Property>>` for every property
- An api is exposed to insert mappings for Private Use characters, which enforces the inva

[2017-08-14 02:19] CAD97 commented on #114
We should also mention the expected sister modules `abbr_names`/`long_names`.

[2017-08-14 02:19] behnam commented on #52
Thanks, @CAD97, for writing it up. Right, basically this is the simple but more verbose solution. I also want to look into any procedural-marco-based solution, as a way to eliminate some of the complexity here, like expecting every binary to initialize UNIC (or some other library that initializes UNIC) to do this.

This can become a problem in the wild, because of something like this:
* Package A

[2017-08-14 02:33] CAD97 commented on #52
That doesn't have to cause breakage.

Sketch:

## unic-pua-override

[code]

## unic-ucd-name

[code]

## library

[code]

## binary

[code]

(I think that syntax is Haskell-inspired? 🤷‍♂️)

[2017-08-14 03:32] behnam opened #120 "UCD Age: Custom enum type or Option<UnicodeVersion>?"
Right now, we have Age as this:

<https://github.com/behnam/rust-unic/blob/72ca9a893373f1857bc6ab6440389dfdceea6f13/unic/ucd/age/src/age.rs#L36-L42>

1. It's nice to have this `CompleteCharProperty`, as it gives meaningful API like `is_assigned()` and `is_unassigned()`.

2. Another option is to convert this to a `PartialCharProperty`, which returns `None` if the char is `Unassigned`, and `Some(Uni

[2017-08-14 03:42] CAD97 opened #121 "[discussion] Rust API Naming conventions."
Rust names for aliases defined in the Unicode Character Database will be consistent with the formal long aliases under [UAX44-LM3]. This is an invariant and helps for API discovery and navigability.

Rust names will follow Rust naming conventions. This is an invariant and helps for API discovery navigability.

UCD aliases for properties are given by [PropertyAliases.txt]. ACD aliases for property

[2017-08-14 03:47] CAD97 commented on #121
I prefer `DecompositionType::NoBreak`. To me, the type is `No-break`, as it is described in the informal description. It should therefor be broken into the two parts `No` and `Break`; ergo, `NoBreak`.

To add some weight to my opinion, I first was exposed to the decomposition types through [UAX44 Table 14. Compatibility Formatting Tags], where it is presented as `<noBreak>`. I therefor looked for

[2017-08-14 03:49] behnam commented on #121
Yeah, totally makes sense. We can update the docs based on the this discussion, and even note this special case in there as one example of *improving casing while staying conformant to LM3*.

[2017-08-14 04:20] CAD97 commented on #120
This is not an easy question.

In the best case scenario, only _valid_ ages (currently [1.1, 2.0, 2.1, 3.0, 3.1, 3.2, 4.0, 4.1, 5.0, 5.1, 5.2, 6.0, 6.1, 6.2, 6.3, 7.0, 8.0, 9.0, 10.0]) are valid `Age`s. [Age is a Category type after all.](http://unicode.org/reports/tr44/#Age) (That would suggest it should be a `EnumeratedCharProperty`. It even has defined aliases in ProperyValueAliases.txt!)

So y

[2017-08-14 04:31] behnam commented on #120
A previous discussion about `Age` was here: https://github.com/behnam/rust-unic/issues/23

IMHO, it is not actually a problem for the public fields allowing a non-UCD Age value to be created. Later, whenever we have `const new` and such, we can try preventing it, but not an issue for today, I would say.

Also, as part of the older version of `Age`, there was actually a partial mapping between UV a

[2017-08-14 04:44] CAD97 commented on #120
It makes sense for `Age` to be a wrapper around `UnicodeVersion`.

I suppose option 2.5 is `struct Age(UnicodeVersion); fn Age::of(char) -> Option<Age>`?

I think I'm (loosely) in favor of option 2.5. `Age` should be a distinct type from `UnicodeVersion`. In my opinion `Age` should be an assigned `Age` and we should avoid re-implementing the `Option` pattern. As for `is_assigned()`, I think that w

[2017-08-14 05:11] CAD97 opened #122 "Make `EnumeratedCharProperty`'s `FromStr` impl fully UAX44-LM3 compliant"
Here's the current implementation:

<https://github.com/behnam/rust-unic/blob/99164db5dd8f909cd5b491dcd516b13b3356c6ea/unic/char/property/src/macros.rs#L111-L129>

It does a quick check for simple equivalence against the abbreviated or long aliases, then does a case insensitive compare. However, for proper compliance we should comply with [UAX44-LM3].

`FromStr` _should not allocate heap memory_ s

[2017-08-14 05:13] CAD97 commented on #122
@behnam I marked this [Level-Medium] because it is distinctly tied to being implemented in macro-generic code. Feel free to change that if you feel it isn't accurate. I also leave the option to or not to [help wanted] to you.

[2017-08-14 06:18] behnam commented on #122
Thanks, @CAD97! Yeah, no rush here, as the current implementation is good enough for the rest of UNIC. Let's leave it open for anyone interested to get involved.

[2017-08-14 06:33] behnam commented on #120
I was thinking about something similar, as well, based on this logic: we have properties with named values (like Enumerated), for which `of()` returns one of those variants. Other properties are basically a *relationship* from a `char` to a value type.

Here, *Age*, which is *the first Unicode Version where code-points was assigned*, is a relationship into `UnicodeVersion`, and is only defined for

[2017-08-14 06:43] behnam commented on #120
Okay, at least the *display* method of an Age value is a good reason to keep it as a newtype struct.

https://github.com/behnam/rust-unic/blob/99164db5dd8f909cd5b491dcd516b13b3356c6ea/unic/ucd/age/src/age.rs#L106-L113

I'm working on a diff. Will submit soon.

[2017-08-14 07:01] behnam commented on #120
Okay, my `dev` branch has an incomplete diff for this: https://github.com/behnam/rust-unic/commit/b8184d36eecb4988366de67b95c9b6ba8ac31d31

Now I remember one reason that made me go with a Complete non-Option-based type: sorting! Basically, the current design would allow every codepoint to be compared with another one, age-wise. With `Option<Age(UnicodeVersion)>` that's actually much harder to do,

[2017-08-14 09:45] behnam commented on #120
Okay, with a bit of cheating, I got a stable diff out: https://github.com/behnam/rust-unic/pull/123

Now, I have mixed feelings about this. I'm fine with changing the ordering of this specific property, because it didn't feel 100% right in the first place.

But, I think that in general we want an `Option`-like type with `None` variant ordered **after** the `Some` variant. If so, then we can create

[2017-08-14 09:48] behnam commented on #120
@llogiq, since you have lots of experience in this area, do you have any recommendation for us here?

[2017-08-14 18:21] behnam commented on #120
Okay, thinking out load more here: both for the sake of consistent API, and consistent behavior, we better to have an `Option`-like type with the ordering that we want, and use that for `Age` implementation.

So, a question would be: do we always want the same ordering for all partial properties? A `None` value always go at the end of the list, or should always go at the beginning.

I like how `Ag

[2017-08-14 21:13] CAD97 commented on #120
If I'm being honest, I like `Optional`. (If you look at the implementation note for `UnicodeDataEntry`, I actually mention it by name! I also implemented `Optioned<char>`: <https://github.com/llogiq/optional/pull/19>)

Here's another option:

[code]

This should effectively work as an `Option` whenever it's wanted, but also allow us to define an ordering.

[2017-08-14 21:39] llogiq commented on #120
I personally think that using an `Option` is fine here. While [optional](https://github.com/llogiq/optional) could give a small speed improvement, I'm not convinced that code is on the hot path and the speedups actually materialize for the use case. Remember that `Option` is a well-known standard API, so nobody reading it will look twice, plus (unlike optional's types) it can actually be used to f

[2017-08-14 21:42] CAD97 commented on #120
Here's my proposal for a "clean" implementation (though using `impl Trait`):

[code]

But I agree with @llogiq here that sticking with `Option` if at all possible is better here.

[2017-08-14 22:02] behnam commented on #120
Thanks for the inputs, @llogiq and @CAD97!

I agree that we probably cannot foresee all possible use-cases of the API in regards of ordering, and trying to optimize for those cases with the cost of not using the core types is not a good choice.

So, looks like we can review and land the PR for `Age`, and only need to document (and probably provide examples) on how ordering works out of the box and

[2017-08-14 22:36] #120 closed

[2017-08-17 05:00] CAD97 opened #127 "Mapping the UCD into unic-ucd subcrates"
[UAX44 § 5.1 Property Index][UAX44§5.1] gives a list of UCD properties. For convenience, I have reproduced below those which are intended for exposure in library APIs. This issue will serve as a tracking list for exposing those. Each property is also given a type in [UAX44 § 5.3 Property Definitions][UAX44§5.3] (one of Catalog, Enumeration, Binary, String, Numeric, or Miscellaneous). For definitio

[2017-08-17 05:05] CAD97 commented on #127
NOTE: The crate -> property mappings were assembled by me, using common sense, intuition, and a bit of guesswork. They should not be taken in any sort of official manner until the below checkbox has been checked.

- [ ] I, @behnam, approve of the initial mapping of crates to properties in the post above.

[2017-08-17 05:47] CAD97 commented on #127
Here is my initial suggestion for mapping the rest of the properties into subcrates. (This includes all crates marked (??) in the crate they are provisionally included in above.)

<details><summary><strong>Read More</strong></summary>

- Include Name_Alias in `name` as an optional feature
- Include Hex_Digit and ASCII_Hex_Digit in `numeric`. These binary properties aren't much use without access t

[2017-08-17 06:49] CAD97 opened #128 "IDNA is still using python generated tables"
The generation code for simplified tables exists under `unic-gen::generate::idna`, but I still need to coerce `unic-idna` into using the new tables.

This would also be a good time to address #51.

[2017-08-19 22:49] behnam opened #129 "Implement Emoji Component"
The Emoji component will provide access to character properties defined by the Emoji spec, and API for handling Emojis, like API to construct Emojis, parse strings and detect Emojis, and being able to do conversions between emoji-style and text-style.

## References
* Homepage: http://unicode.org/emoji/
* Spec: http://unicode.org/reports/tr51/index.html
* Data: http://www.unicode.org/Public/emoji/

[2017-08-19 23:40] calum commented on #129
This looks really interesting but probably too advanced for me to do it all. Will this be broken down into smaller tasks? I could help with some of the API stuff like detecting if a string contains emojis.

I've just finished the Rust book so I'm ready to be assigned to an issue.

[2017-08-20 00:09] behnam commented on #129
cc @aaronstgeorge

[2017-09-02 23:56] behnam opened #133 "Implement unic-ucd-ident"
Char Properties:
* `ID_Start`/`ID_Continue`
* `XID_Start`/`XID_Continue`
* `Pattern_Syntax`/`Pattern_White_Space`

References:
* http://www.unicode.org/reports/tr44/tr44-4.html#ID_Start
* http://www.unicode.org/reports/tr31/

Cross-component tests:
* http://www.unicode.org/reports/tr31/#Table_Lexical_Classes_for_Identifiers

Similar crates:
* https://github.com/unicode-rs/unicode-xid

[2017-09-02 23:58] behnam opened #134 "Improve unic-ucd-bidi and ucd-bidi"
We need to add more char properties to `unic-ucd-bidi` and use them in `ucd-bidi` to support more features like bidi mirroring of chars.

Properties:
* `Bidi_Control`
* `Bidi_Mirrored`
* `Bidi_Mirroring_Glyph`

[2017-09-03 00:10] behnam opened #135 "Implement unic-ucd-segment and unic-segment"
References:
* UAX #29: Unicode Text Segmentation <http://www.unicode.org/reports/tr29/>

Defines Char Properties:
* Grapheme_Cluster_Break
* Word_Break
* Sentence_Break

Needs Char Properties:
* General_Category
* Alphabetic

Related Char Properties that are not needed in algorithm implementation, therefore can be made optional feature in `unic-ucd-segment`, or implemented in a separate component:

[2017-09-03 02:38] CAD97 commented on #128
Closed by #131

[2017-09-03 02:38] #128 closed

[2017-09-04 03:33] CAD97 commented on #133
The main use-case I have for this crate has a want for the `XID_*` and `Pattern_*` properties. I therefor can knock this component out, but I'd like to land #136 first.

[2017-09-04 03:50] CAD97 commented on #20
Do we want to push this for UNIC 0.6 or delay it until later when it's the right time to be designing API design at this level? I could pretty easily do the legwork to expose the `Quick_Check` properties if we want to get this done soonish™️. (On a similar note, would it be worth it to bring in [`tribool`](https://crates.io/crates/tribool)? It seems like may Unicode algorithms use this [three-valu

[2017-09-11 19:57] behnam opened #137 "Implement unic-ucd-script"
Provides access to:
* `Script`
* `Script_Extensions`

References:
* http://www.unicode.org/reports/tr44/tr44-4.html#Script
* http://www.unicode.org/reports/tr24/
* http://www.unicode.org/reports/tr24/#Script_Extensions

Consistency tests:
* Test relations between `Script` and `Script_Extensions` impl.

Cross-component tests:
TBD.

Similar crates:
* https://github.com/servo/unicode-script

[2017-09-11 23:02] behnam commented on #20
Would be great to stark exposing `Quick_Check`, now that we have `Char*` types in action. I think `isNFC()` can give a good boost to many applications, so worth prioritizing.

Rust compiler is expected to get a boost for `Option<bool>` and other similar types, dropping the need to create custom types for the same concept. Because of that, I would say it's not a priority, unless someone really need

[2017-09-15 02:15] behnam opened #140 "Decouple download and generate scripts"
The requirements we have for download and generate scripts are fairly different.

For download, we want to keep files from every *source* in sync, as we read the version from their `ReadMe.txt`. So, for each source, we want to delete all the files before re-downloading. The files under `/data/`, for each source, should never go out of sync, version-wise. Because of this, this part of the code shou

[2017-09-15 02:15] behnam commented on #140
What do you think about this, @CAD97?

[2017-09-15 02:35] CAD97 commented on #140
I still think it's very useful to have a single command to both download and generate all of the necessary things. But that can be handled by a shell script, I suppose.

I'm fully open to decoupling the two. They'll always be somewhat coupled as `generate` relies on `download` having run and agreeing on where files are put, but it does make sense to split the two so they can have separate concepts

[2017-09-15 02:45] behnam commented on #140
Yeah, I think we started with the hope to share some data between them, like the data file paths. But, in practice, the path is hard-coded into an `include_str!` for the *generate* portion, while it's in a config file for the *download* portion, which demands more complexities just to share a few strings.

I'm looking into simplifying some parts of the `download` module right now, making it be mor

[2017-09-15 02:55] CAD97 commented on #140
I'm only working on the pulling of the data files into the generate module for further use. It's done for DerivedCoreProperties, and adding PropList is just a matter of an unfortunate amount of boilerplate to actually load the data into a structure easily used.

Download can almost certainly be simplified by using something other than Hyper. I chose it mainly because it was the one API I already r

[2017-09-15 02:58] CAD97 commented on #140
See https://github.com/CAD97/rust-unic/commit/be84e1dccafaaed8255abec905d8cb5513a5e8d1 for DerivedCoreProperties. Adding PropList currently, shouldn't take _too_ long.

[2017-09-15 03:08] behnam commented on #127
Okay, now getting back to this, which is mostly about categorizing Binary properties... Let's start with hi-pri ones, and develop the UCD sub-component based on the application, and we can figure out the rest after with done with the important ones.

I have filed some separate issues for those strongly related to some algorithm. I think we're clear on those.

For the rest, some of the important on

[2017-09-15 05:24] CAD97 opened #144 "#![no_std] where possible?"
A common feature among unicode crates is that many of them are `no_std` or are opt-out `std`.

Do we want to support the `no_std` use case? If we do, we should do so soon to avoid including `std` things in our crates.

For the UCD at the very least, `no_std` does not seem difficult. `char_property` works as-is with `#![no_std] use core as std`. `char_range` works so long as the `Bound`-based const

[2017-09-15 05:32] behnam commented on #144
Thanks for filing this, @CAD97! I've been thinking about it and am more inclined towards not making it a priority, specially because alternate solutions are already available for critical algorithms.

Also, during the implementations, we *think* as we're *no_std* and, as you've mentioned, we're not allocating memory in runtime (with possibly one or two exceptions), but maintaining two variations m

[2017-09-15 05:50] CAD97 commented on #144
I think, for the UCD at least, we should `#![no_std]`. It's basically no-effort (except `FromStr` using `eq_ignore_ascii_case`). For the larger algorithm crates, I'm fine with punting for now. They should definitely all get a no_std-reconsider before 1.0 though.

At the same time, there's a voice in the back of my head saying "what use case is there for unicode processing in a no-std environment?"

[2017-09-15 06:04] behnam commented on #144
Yeah, agreed generally. Although, it needs some CI configuration to test everything clearly.

When `no_std`, we can indeed add `unic::ascii` to fill in the gap where needed.

[2017-09-15 06:06] CAD97 commented on #144
Given #21, `unic::ascii` was going to happen at some point. Or some form, in any case. Of ASCII-only algorithms in addition to the full-unicode tables.

[2017-09-15 06:33] behnam commented on #144
Re #21, the idea is to change the table-creation and data-table matching codes to perform ASCII lookups via a direct array lookup, and all the rest of Unicode via b-tree search.

[2017-09-15 06:35] CAD97 commented on #144
It seems that in the future we could even drop the `AsciiExt` shim as it seems like those fn are going to migrate onto the primitives in the future. https://github.com/rust-lang/rust/pull/44042

[2017-09-15 06:49] behnam commented on #140
Okay, @CAD97, <https://github.com/behnam/rust-unic/pull/145> simplifies the `download` module and makes it ready to become a separate crate/binary. I'll leave the rest of this issue to you, as you've spent a lot more time on the `generate` code.

In the meanwhile, we can easily add new files to the download config (and just download), and the refresh-data script that calls into the coupled binary

[2017-09-16 23:01] behnam commented on #140
@CAD97, I'm ended up working on the generate scripts and there's a lot of changes on my tree now. Please let me finish with that work, and we review, and we can decide about this issue then.

Here's the tree: https://github.com/behnam/rust-unic/tree/tables

[2017-09-18 21:01] behnam commented on #140
Okay, now we have three major modules under `unic-gen`:
* `download`, which downloads the source data files based on a config file.
* `source`, which provides parsers and data models for the source data files.
* `writer`, which is responsible for generation of data table files for UNIC components, using `source` and its own internal intermediate data models.

Now, the only connection between `down

[2017-09-19 04:20] behnam opened #153 "Implement unic-ucd-case and unic-case"
Char Properties:
* Lowercase
* Uppercase
* Cased
* Case_Ignorable
* Changes_When_*

Implements case-folding algorithms:
(TBD.)

Related crates:
* https://crates.io/crates/case
* https://crates.io/crates/heck
* https://crates.io/crates/casing
* https://crates.io/crates/ident_case
* https://crates.io/crates/unicase
* https://crates.io/crates/changecase
* https://crates.io/crates/titlecase

[2017-09-20 22:11] behnam commented on #153
#157 has a basic implementation for the character properties listed here.

However, based on their [definition](http://www.unicode.org/reports/tr44/#Lowercase), we can reduce the number of tables we store and compose the result from other properties (GC) or other tables. When doing so, we can move the tables auto-created here to `case/tests/tables/` and only use them to match the behavior of the c

[2017-09-21 01:56] behnam opened #158 "Optimize unic-ucd-case data tables"
#157 implemented UCD *Case* character properties, which are:

* Lowercase
* Uppercase
* Cased
* Case_Ignorable
* Changes_When_Lowercase
* Changes_When_Uppercase
* Changes_When_Titlecase
* Changes_When_Casefolded
* Changes_When_Casemapped

However, based on their [definitions](http://www.unicode.org/reports/tr44/#Lowercase), we can reduce the number of tables we store and compose the result from ot

[2017-09-21 01:58] behnam commented on #158
@calum, this is another good starter task, kind of similar to the work you did previously, but a bit larger in size. Please let us know if you're interested to work on it?

[2017-09-21 05:35] behnam commented on #129
@calum, thanks for interest here and sorry for the delay in getting back to you.

If you've been following up the recent work we've been doing, there's a bunch of core modules that we were working on to make it easier to add new components, like Emoji here. Since the clean up steps had to address various issues, it was hard to explain what needs to be done. Now, we the basic layers being ready, we

[2017-09-22 22:40] CAD97 commented on #133
Request for a second opinion.

https://github.com/CAD97/rust-unic/commit/6969236a703bce87602c0286e614f1ec0f1997ef

This lightens the `*_continue` tables by a little under 1.5KB (1474 `char`) if my math is correct. However, it also means that checking a character's membership in `xid_continue` or `id_continue` will take about eight more comparisons (to a range) (over two tables instead of one). Thi

[2017-09-23 02:27] CAD97 commented on #133
On the above:

I realized that this would mean that the `*_continue` properties could not use the macro constructor if I do that, as the `is_*_continue` fn would have to be modified to check both tables. I guess that's a path for future possible benchmark+optimization, but for now I'm going to not use that optimization.

[2017-09-27 00:20] #140 closed

[2017-09-27 22:11] #133 closed

[2017-09-27 22:19] behnam opened #164 "Drop all direct deps on /data/"
Now that we have very simple and easy ways to generate data tables from source data files, it's better to replace almost all direct reads for files under `/data/` from `/unic/**/tests/` with conversion of test data into test data tables (under `<component>/tests/tables/`, in an RSV format), and using the test data tables for running the tests.

For some test data sources, the complicated format of

[2017-10-02 03:23] clarfon opened #169 "Replace most String-returning methods with Display impls"
In #168 I found just two different methods named `display` which simply call `format!` to return a string. The `Display` impl then simply prints this allocated string.

Instead of doing this, we should put the necessary formatting into a `Display` impl and let the user call `to_string` if the want a string version. There can even be `Into<String>` impls if necessary. This avoids unnecessary alloca

[2017-10-02 22:01] behnam opened #171 "[ucd-name] Complete implementation for Unicode Name Property"
We have added a basic partial implementation for character names. We need a few more sources (data-based and algorithmic) to complete the implementation.

From <http://www.unicode.org/reports/tr44/#About_Property_Table>

Source data:
* http://www.unicode.org/Public/UCD/latest/ucd/Jamo.txt

From the spec (http://www.unicode.org/versions/Unicode10.0.0/ch04.pdf) (Section *4.8 Name*), NR3 and NR4 are

[2017-10-03 16:06] CAD97 commented on #169
This directly pertains to discussion in #168 but I'm going to put it here because it fits here better.

All of these were found via IntelliJ IDEA's project-wide search. All searching was done over the `unic` directory exclusively, and test code results were manually excluded.

A list defined fn returning `String` (in the `unic` directory, excluding tests, full path to impl):

- `unic_idna::process

[2017-10-03 16:37] clarcharr commented on #169
Sounds good to me! In general, methods returning `&'static str` are still very useful, as their returned strings are essentially "free," but anything that requires rendering should be kept in a `Display` impl.

[2017-10-03 20:52] behnam commented on #169
I think I agree with most of what's proposed here. But there are situations that we cannot solve with only using `trait Display`.

Basically, any property value in UCD has at least two string representations: *abbr name* and *long name*. We have also added a user-friendly representation to this list: *human name*.

As it's shown in the list, `Age` property is kind of special (called `Custom` in th

[2017-10-03 23:34] CAD97 opened #173 "Determine property instance name API for all Properties"
We already have `abbr_name`, `long_name`, and `human_name` fn returning `&'static str` on `EnumeratedCharProperty` and `BinaryCharProperty`.

We should decide on if and how we want to expand these fn to `NumericCharProperty` and `CustomCharProperty`.

Because these have procedural name derivation from data, they will not be able to return `&'static str`, and will likely need to follow a `fmt` patt

[2017-10-03 23:34] CAD97 commented on #173
See #168 and #169 for earlier context.

[2017-10-03 23:35] CAD97 commented on #169
I think the only thing we're not in full agreement on is `CustomProperty`/`Age`?

Correct me if I'm wrong, but the actions here are:

- Replace current `::human` `::display`, and `::to_string` fn that return `String` with just the `impl Display`
- Figure out what kind of `abbr_name`, `long_name`, and `human_name` contract we want to guarantee on `CustomProperty`
- impl the `CustomProperty` version

[2017-10-03 23:55] behnam commented on #169
Yeah, all sounds good, @CAD97!

@clarcharr, could you please prepare #168 to merge?

[2017-10-06 09:13] behnam opened #175 "[unic-segment] Implement Setence Boundry algorithm"
References:
* UAX #29: Unicode Text Segmentation http://www.unicode.org/reports/tr29/

<https://github.com/behnam/rust-unic/pull/174> has implementation of the properties needed (e.g. `Setence_Break`) and the other two segmentation algorithms.

See also <https://github.com/behnam/rust-unic/issues/135>.

[2017-10-11 08:12] #135 closed

[2017-10-23 08:09] behnam opened #177 "Implement locale-based collation"
This would depend on having the locale tags and CLDR data processing in place and should be a good CLDR-level target.

[2017-11-05 09:22] behnam opened #178 "Implement UCD EA-Width"
Spec:
* https://www.unicode.org/reports/tr44/#East_Asian_Width
* https://www.unicode.org/reports/tr11/

Implements:
* East_Asian_Width

Depends on:
* Emoji_Presentation
* Regional_Indicator

Similar existing crates:
* https://crates.io/crates/unicode-width

[2017-11-20 20:42] behnam opened #191 "[ucd] Expand API"
Tracking the additions we like to have for UCD, specially for `unic-ucd-common`.

ucd-common:
* `is_mark()`
* `is_graphic()`
* `is_punct()`
* `is_symbol()`

See also:
* https://golang.org/pkg/unicode/

[2017-12-29 21:30] matklad opened #192 "Is unic-ucd-indent available somewhere?"
Hi! I'd love to use unic-ucd-indent crate (https://github.com/behnam/rust-unic/tree/master/unic/ucd/ident) for `is_pattern_whitespace property, but I am not able to find it on crates.io. Is it available somewhere?

[2017-12-30 17:44] behnam commented on #192
Hey Aleksey,

The unic-ucd-ident componente is added in the latest version and is not
published yet. I'm making a release right after the holidays, which would
address that.

In the meanwhile, you can use the github repo in your Cargol.toml.

B

On Dec 29, 2017 3:30 PM, "Aleksey Kladov" <notifications@github.com> wrote:

Hi! I'd love to use unic-ucd-indent crate (https://github.com/behnam/
rust-un

[2017-12-30 17:51] matklad commented on #192
Great, thanks for the clarification! Looking forward to the new release! :)

[2017-12-30 17:51] #192 closed

[2018-01-03 00:13] eyeplum commented on #171
It's nice to find this task here as I'm needing this feature right now :)
I have basic knowledge about Rust, and would like to give this a try.

For now I'm thinking about expanding the code point ranges and add `(code_point, derived_name)` to the [name table](https://github.com/behnam/rust-unic/blob/master/unic/ucd/name/tables/name_map.rsv). Will this be a proper way to do it?

Thanks!

[2018-01-06 05:46] CAD97 commented on #171
@eyeplum I'd recommend not messing with the name table, it likes to fluctuate a huge amount of time in how long it takes to compile based on seemingly inconsequential changes. I still don't know why the current formulation doesn't take forever; any attempts I made to recreate the shorter compile time to compare against longer to debug the compiler's string interning (which is probably the reason f

[2018-01-06 05:56] eyeplum commented on #171
@CAD97 Thank you for the detailed information.
I will see what I can do and create a pull request when I have something to show you.

[2018-01-06 05:58] CAD97 commented on #171
Feel free to ping me [on gitter](https://gitter.im/behnam/rust-unic) if you ever need clarification for something. I _should_ see it 🙂

[2018-01-06 05:59] eyeplum commented on #171
Cool, thanks! 😀

[2018-01-27 23:15] CAD97 opened #194 "Release 0.7.0"
[We've had a good deal of changes made since the last release.](https://github.com/behnam/rust-unic/compare/v0.6.0...masterr)

Could we get version 0.7.0 released?

----

- Bumped minimum Rust to 1.22
- A lot of internal structure updates
- Added
  - unic/emoji/char
  - unic/segment
  - unic/ucd/common
  - unic/ucd/ident
  - unic/ucd/segment

[2018-01-28 19:29] behnam commented on #194
Yeah, it's been in my shortlist for this weekend! I'll get to it in the evening! :)

[2018-01-30 23:44] zbraniecki opened #195 "Higher level APIs"
Currently UNIC focused on character level internationalization, but ICU/CLDR support a lot of higher level APIs, several of them, very useful for localization.

I'm working on https://github.com/projectfluent/fluent-rs which is a port of http://projectfluent.org/ to Rust, and the main missing items are:

* Plural Rules
* Date Time Formatting
* Number Formatting

Is there any plan for UNIC to exten

[2018-01-31 00:37] CAD97 commented on #195
I'll quote the README here:

So yes, eventually these algorithms should enter the UNIC family of crates. _Right now_, we're more focused on getting the remaining UCD properties mapped into crates, (and both behnam an myself don't have much time to give this project right now), but we'd welcome any PR / design work towards implementing further i18n algorithms that people will find useful.

[2018-01-31 09:30] behnam commented on #194
Uh... have to push it back a couple of days, again. Sorry for the delays. It's on top of the list now and will be done in a day or two!

[2018-01-31 20:17] clarcharr opened #197 "Prefer stream-safe normalisation routines"
See unicode-rs/unicode-normalization#20 for rationale, and https://unicode.org/reports/tr15/#UAX15-D4 for a description of the algorithm.

This would allow us to do no-allocation normalisation, making all of the normal forms available on `no_std`.

[2018-02-04 23:42] dead10ck opened #198 "[unic-segment] Implement line breaking in Annex 14"
Hello! I noticed `unic-segment` describes its purpose as implementing segmentation for graphemes, words, and sentences, as described in UAX#29. I'd like to propose a (possibly long-term) goal of adding line segmentation as described by [UAX#14](https://www.unicode.org/reports/tr14/).

[2018-02-05 02:26] CAD97 opened #199 "unic-ucd-name takes a long time to compile"
It's definitely degraded from when it was first merged. I'm trying to make a self-contained case to submit to the rust-lang repository as an issue in compile times.

`cargo +nightly rustc --package=unic-ucd-name -- -Z time-passes`

<details><summary>Output</summary>

[code]
</details><br>

Additionally, seemingly-trivial changes to `unic/ucd/name/tables/name_map.rsv` and `unic/ucd/name/tables/name

[2018-02-05 02:41] CAD97 commented on #199
I modified the name tables to use `static`s instead of `const`s, and compile time got somewhat worse, moving from const checking to borrow checking.

<details><summary>Time Passes</summary>

[code]
</details>

<details><summary>diff</summary>

[code]
</details><br>

[2018-02-05 03:25] CAD97 commented on #199
See https://github.com/rust-lang/rust/issues/48009 for the upstream issue report. Turns out this is only on nightly (I thought my default at the time was stable but it was nightly).

[2018-02-05 10:44] behnam commented on #194
Okay, I'm done with the fixes needed for the release. Waiting for tests to pass and will cut the release in the morning.

----

Version: v0.7.0

# New Unicode character property components
- [`unic-ucd-common `] common character properties (*alphabetic*, *alphanumeric*, *control*, *numeric*, and *white_space*).
- [`unic-ucd-ident`] Unicode Identifier character properties.
- [`unic-ucd-segment`] Un

[2018-02-05 23:57] behnam commented on #194
Okay, there are a couple of more fixes I want to get in before release. Hopefully this evening.

[2018-02-07 06:16] behnam commented on #194
Done: https://github.com/behnam/rust-unic/releases/tag/v0.7.0

More: https://users.rust-lang.org/t/unic-0-7-0-and-unic-cli-app/15481

[2018-02-07 06:16] #194 closed

[2018-02-07 06:18] behnam commented on #144
Many of the packages are now `no_std`. Let's track down the rest for the next release.

[2018-02-07 06:19] behnam commented on #51
We now have `EMOJI_VERSION` exposed, and a generic `UnicodeVersion` type in `unic-common` component.

[2018-02-07 06:19] #51 closed

[2018-02-07 06:20] behnam commented on #129
`unic-emoji-char` is published. `unic-emoji` doesn't have any algorithms (iterators) yet. Let's target v0.8.0.

[2018-02-14 03:07] ishitatsuyuki commented on #199
Some people at the miri thread has suggested to use an binary file for storing the items, then loading it with `include_bytes!`. This was it should be least stressing to the compiler.

Maybe try using some serde-based format (which doesn't need a separate schema file) or Cap'n Proto (which is mmap-friendly) to store the data?

[2018-02-14 03:15] ishitatsuyuki commented on #199
I decided to work on a PR using Cap'n Proto. Stay tuned.

[2018-02-14 09:50] ishitatsuyuki commented on #199
Giving up for now due to https://github.com/capnproto/capnproto-rust/issues/71 and extensive `no_std` usage inside this crate.

[2018-02-16 00:42] behnam commented on #169
Is there any work left here? I believe we've everything covered now that most of them are in `no_std` mode.

[2018-02-16 00:49] behnam opened #206 "Implement unic-ucd-block"
Provides access to char property:
* `Block` (Enumerated)

Also let's have two iterators:
* All assigned/defined Unicode Blocks
* A character iterator that only walks on character ranges inside these blocks. This is very helpful for reducing the range of chars we test in integration tests, which is wasting a lot of CPU also walking on the ~75% of the code space that's not assigned.

References:
* h

[2018-02-20 02:18] CAD97 commented on #199
....I am so confused. The compile time unregressed on the latest nightly `(27a046e93 2018-02-18)` and is fine on stable/beta/nightly currently...

[2018-02-22 00:39] zbraniecki commented on #195
How would it look like code structure wise?

I think a good first step would be an API similar to proposed JS `Intl.Locale` - https://github.com/tc39/proposal-intl-locale/

which would allow us to build, parse and operate on language tags. Since we're around Unicode, it would be later extended to support ICU/CLDR `getLikelySubtags` which is useful for language negotiation.

I'm currently maintaini

[2018-02-22 21:53] behnam opened #209 "[unic-ucd-hangul] Hangul Syllable Composition/Decomposition"
Let's move the Hangul Syllable Composition/Decomposition logic out of `unic-ucd-normal` and put it in its own standalone component, to be used out of normalization context.

Here's the impl: https://github.com/behnam/rust-unic/blob/master/unic/ucd/normal/src/hangul.rs

[2018-02-27 02:34] clarcharr opened #210 "Macro for gettting unicode characters by name"
Essentially, something like:

[code]

I've found that in some cases where I've wanted to use less-known unicode characters, that I've resorted to just looking up the escape codes and including these directly in my source. This is error-prone and it'd be a lot easier to catch a name that doesn't match than an escape code that doesn't.

[2018-02-27 03:02] clarcharr opened #211 "Conversion of decimal numbers in different scripts"
It'd be useful if `unic` had an API that converted bidirectionally between unsigned integers and various scripts. For example, here are a few representations of the number twelve:

* `12`
* `"１２"`
* `"₁₂"`
* `"¹²"`
* `"𝟙𝟚"`

I recall seeing a crate that did something similar but I couldn't find it; I think having this kind of thing would be useful in `unic`.

[2018-02-27 06:04] behnam commented on #211
To get this mapping, you need two things:

1) which characters map to ASCII digits via NFKC,
2) the ranges of characters with (decimal) numeric values.

From these, you can have all the range of numeral that map to ASCII. This mostly gives you what you want.

IIRC, one of the subscripts/superscripts (or one of the other ranges) does not have the NFKC mapping, which would need special attention.

T

[2018-02-27 06:07] behnam commented on #210
Many systems, specially RegEx engines, allow escaping Unicode characters in the form of `'\N{dot operator}` or `'\u{dot operator}`. IIRC, there's already a GH issue files for Rust for this.

In the meanwhile, I guess we can add this to `unic-ucd-name`, as an optional feature.

[2018-02-27 07:57] CAD97 commented on #210
[unicode_names](https://crates.io/crates/unicode_names) provides this today.

As part of [this Reddit thread](https://www.reddit.com/r/rust/comments/7ysnl5/31k_array_slice_what_are_my_other_options/), the author of said crate [mentioned its compression algorithm](https://www.reddit.com/r/rust/comments/7ysnl5/31k_array_slice_what_are_my_other_options/dukkokz/). Given #199 and the already shaky comp

[2018-02-27 20:09] behnam commented on #195
Hey, Zibi! Sorry for the delay here! This is definitely a priority now and would be great to have you help with the API design.

One of the things we're trying to do here in UNIC is to keep the data model and API separate from the data itself. For example, for character properties, all the utilities and abstractions for Character Property live under `unic-char`, and then `unic-ucd-*` implement tho

[2018-02-28 01:09] zbraniecki commented on #195
That sounds good!

I'm still fairly new to the Rust world, esp. land of monorepos and multipackages. Could you draft a POC of how such `unic-locale-lang` PR might look like for rust-unic? I'd be happy to take it from there and fill with correct algo, and build `unic-locale` on top.

[2018-03-04 02:53] behnam opened #212 "Maybe set up Circle CI"
Circle CI has more options for systems to test on. Let's track here if we want to enable Circle CI builds for the project.

Here's an intro to setting up Rust builds: https://abronan.com/building-a-rust-project-on-circleci/

[2018-03-05 20:49] behnam opened #216 "Set up homepage+tutorial+api-doc generation"
As we are expanding UNIC components and add more functionality for string processing and locale data, we need to add tutorial-like documentation on what is where and how to use the features.

Like many other Rust community projects, we can use mdBook for this, and make the landing page of the book to be our homepage, with links to project repo and docs.rs API docs.

Optionally, we can have a local

[2018-03-07 07:17] eyeplum commented on #209
I will pick up this one :)

[2018-03-07 17:53] BurntSushi commented on #210
To add some additional context for others following this issue. (See [this reddit thread](https://www.reddit.com/r/rust/comments/82bpvz/ucdgenerate_a_cli_tool_to_generate_unicode_tables/) for the impetus.)

One possible way to provide the name->char mapping is with [finite state transducers](https://github.com/BurntSushi/fst). The TL;DR is that an FST is a finite state machine that compactly repre

[2018-03-13 07:39] eyeplum commented on #206
While #217 is waiting for code review, I will try to implement this one.

[2018-03-13 07:53] behnam commented on #206
Thanks, @eyeplum! I already have a half-baked implementation on my laptop. If you haven't started yet, maybe wait a few days before you start?

[2018-03-13 07:54] eyeplum commented on #206
@behnam Sure!

[2018-04-05 19:19] behnam opened #219 "Test Unicode 11.0 Beta files"
We want to test new Unicode 11.0 data to make sure:
- UNIC is compatible with new data.
- There are no errors in the source data.

Source data files:
- https://www.unicode.org/Public/11.0.0/

See Also:
- http://blog.unicode.org/2018/03/unicode-110-beta-review.html
- http://unicode.org/versions/Unicode11.0.0/

[2018-04-05 20:02] CAD97 commented on #219
Assuming everything goes perfectly, it should be as simple as changing one line...

https://github.com/behnam/rust-unic/blob/a2d51096c5e3f8faf727f87e716ed6db5daf04bc/data/sources.toml#L1-L3

and then rerunning the download script `cargo run --package=unic-data`.

[2018-04-06 22:44] behnam commented on #219
Automated way wouldn't work that well, because the beta directories, although named similar to the normal release (:facepalm:), do not include all the files, but only those changed so far. So... needs manual work.

As a side note, @CAD97, the hyper client doesn't check HTTP Response status code and saves 404 HTML content into destinations. Would be good to just report and skip the file in those ca

[2018-04-06 23:08] CAD97 commented on #216
Also a possibility: [doxidize](https://github.com/steveklabnik/doxidize) (aka rustdoc2)

[2018-04-06 23:12] CAD97 opened #220 "Data download should ignore+log 404 responses"
https://github.com/behnam/rust-unic/blob/a2d51096c5e3f8faf727f87e716ed6db5daf04bc/data/src/client.rs#L41-L48

Rather than just take the response body and add it to the file, check response code first, and log anything that isn't 200 OK

[2018-04-06 23:14] CAD97 commented on #219
Maybe I should have checked the directory before assuming 🙃 but it should be possible without touching the code just by modifying sources.toml to refer to and rename the files in question.

I filed #220 for handling bad responses.

[2018-04-30 02:09] CAD97 opened #223 "nightly broke tests"
See https://internals.rust-lang.org/t/help-us-test-the-breaking-bug-fix-to-cargo-features/
See https://travis-ci.org/behnam/rust-unic/jobs/372843062

[code]

The use of `--features` was not doing what we thought previously, and we'll need to change it to do what we want. `#![feature(unicode_version)]` in `unic/tests/unicode_version_tests` and removal of the `bench_it` feature (it's not pulling wei

[2018-06-07 08:24] eyeplum opened #224 "Implement unic-ucd-unihan"
Provides access to:
- `Unihan_DictionaryIndices`
- `Unihan_DictionaryLikeData`
- `Unihan_IRGSources`
- `Unihan_NumericValues`
- `Unihan_OtherMappings`
- `Unihan_RadicalStrokeCounts`
- `Unihan_Readings`
- `Unihan_Variants`

References:
- https://www.unicode.org/reports/tr38/tr38-25.html

[2018-06-07 08:35] eyeplum commented on #224
Please refer to #225 for a possible way to implement this.

[2018-06-07 08:52] eyeplum commented on #209
@behnam I think this one can be closed :)

[2018-06-07 08:52] eyeplum commented on #171
@behnam Also, this one can be closed, too :)

[2018-06-18 21:31] zbraniecki commented on #195
@behnam - didn't hear back from you, and we started working on `intl-pluralrules` crate which we need for `fluent-rs`.

I'd be still interested in getting `intl-locale` crate analogous to https://github.com/tc39/proposal-intl-locale or what we use in Gecko as MozLocale - https://searchfox.org/mozilla-central/source/intl/locale/MozLocale.h

In your comment above you suggested separate crates for la

[2018-06-30 12:10] Alexendoo commented on #219
Since unicode 11 was released, the directories now contain the final data

[2018-07-24 11:08] bbqsrc commented on #195
@zbraniecki @behnam  I'd be super happy to contribute to a set of locale crates. I tend to work on minority language projects and repeatedly come across the lack of locales in Rust as an issue.

Being able to go from BCP-47 tag to a Locale object of some kind is super important for all kinds of applications.

[2018-07-24 18:46] CAD97 commented on #195
That sounds reasonable. Feel free to ping me [on the Gitter](https://gitter.im/behnam/rust-unic) or on a GitHub issue/PR, I'll be happy to mentor you through the unic-gen structure. I can't promise a swift response but I'm usually on in some capacity.

[2018-07-24 21:57] zbraniecki commented on #195
@unclenachoduh is working on the plural rules: https://github.com/unclenachoduh/pluralrules

There are three crates in it:
1) CLDR parser
2) Rule generation (takes CLDR AST and produces Rust functions)
3) intl-pluralrules - the actual production crate for selecting plural rules

We'll be releasing the first versions this week.

[2018-08-20 01:57] CAD97 commented on #223
This was fixed by #229, right @behnam ?

[2018-08-20 01:58] CAD97 commented on #223
Or wait, was this just the `--features` change..... I'll probably have some time later this week to put into this again (finally) so I'll refresh myself on everything then.

[2018-08-20 03:29] behnam commented on #223
`nightly` build with `--all-features` was failing bcz of the `unicode` feature becoming partially stable, and the value we were using becoming a new feature, `unicode_version`. All is passing already, so I believe there's nothing more to do here anymore.

[2018-08-20 03:29] #223 closed

[2018-08-20 07:30] behnam opened #231 "Consider bringing in rust-url/pull/453"
More: https://github.com/servo/rust-url/pull/453

[2018-10-12 06:31] behnam opened #234 "[Tracker] Implement Territory modules"
This model is going to be directly based on ISO 3166-1, ISO 3166-2 and M-49 data sets, with addition of private-use cases from CLDR (like `QO` and its relationship) for compatibility.

# Model

The single Territory model will represent all levels of world/country regions, including:
- Country Groupings
  - The World
  - Continent
  - Subcontinent
  - Other Groupings (like EU and Latin America)
- C

[2018-11-01 15:15] killercup opened #235 "Add another crate"
I just came across the unic crate and it's many sub-crates that all seem to be called `unic-(\w+)`. Now, I can't _not_ open an issue about one glaring omission: There is no `unic-ode` crate!

Now, I have no idea what this crate should do. Maybe you'd like to have something for detecting lyrical stanzas? Or something that praises some specific parts of Unicode?

(Yes, feel free to close this issue.

[2018-11-05 09:03] behnam opened #241 "Most char API should use Copy instead of Ref"
Most functions taking `char` as input, specially those taking `self` with a small struct only having one or two `char`, should be migrated to take `self` instead of `&self`.

Some of the clippy warnings:
[code]

[2018-11-05 09:39] behnam commented on #235
Love the idea, @killercup! How about a CLI tool that writes out a sample Unicode text, like snippets from the UDHR corpus? It can be useful when people need a quick sample of Unicode text for their unit tests or something...

[2018-12-19 16:27] fasihrana opened #242 "Arabic text"
Is there something that allows converting a string of individual Arabic characters to the proper joined form of Arabic text?

For example my name written in individual letters is:
`ف ص ی ح`
while the joined form is (if you view this in any modern browser):
`فصیح`

[2019-01-02 06:15] behnam commented on #242
Thanks for filing this, @fasihrana.

We have two crates in the plans regarding the Unicode Arabic Cursive Joining algorithm:
- `unic-ucd-joining`, which provides character properties data used for UACJ,
- `unic-joining` (or `unic-string-joining`), to implement the algorithm.

But, should mention that, the output of such algorithm won't be a new *string*, but a list of joining forms, per character.

[2019-01-02 06:36] behnam commented on #206
Thanks, @eyeplum, for wrapping this up! 😄

[2019-01-02 06:36] #206 closed

[2019-01-02 06:43] behnam opened #243 "Implement Unicode Arabic Cursive Joining algorithm"
## `unic-ucd-joining`

Char Properties:
* `Joining_Type`
* `Joining_Group`

Refs:
* https://www.unicode.org/Public/UCD/latest/ucd/ArabicShaping.txt

## `unic-string-joining`

To implement Unicode Arabic Cursive Joining algorithm, returning a mapping from the input characters string to list of `Joining_Form` values (called *Glyph Type* in the spec).

Refs:
* https://www.unicode.org/versions/Unicode

[2019-01-08 15:27] ad-si opened #249 "Support for stdin"
This should work:

[code]

[2019-01-08 18:32] behnam commented on #249
Totally agree! I really didn't spend much time in expanding functionality of the CLI apps. Would be grateful for any PR improving them!

[2019-01-08 18:34] behnam commented on #249
And talking about ideas for `unic-inspector`, options to enable/disable various columns, which are character properties.

[2019-01-09 22:09] zbraniecki commented on #195
The crates mentioned before have now been released and in use by `fluent-rs` for almost half a year.

1. https://crates.io/crates/cldr_pluralrules_parser
2. https://crates.io/crates/make_pluralrules
3. https://crates.io/crates/intl_pluralrules

The first one is just an UTS#35 LDML compatible parser for the rules, the second generates Rust code and the third is the public facing one. I keep maintai

[2019-01-10 06:42] behnam commented on #195
Thanks for the update, @zbraniecki. Glad to see these crates are published!

What I have in mind as the `Locale` model for UNIC is a superset of Unicode/CLDR Locales, so we can address some of the limitations of CLDR Locales. For example, CDLR Locales are not capable of expressing an English-language text with Mexican Pesos being rendered as "$".

And from the API perspective, I'm implementing the

[2019-02-05 23:10] zbraniecki commented on #195
@bcmyers released `num-format` crate which is likely going to fit right into the `NumberFormat` space - https://www.reddit.com/r/rust/comments/anaykb/announcement_new_crate_numformat/

@behnam - any progress on the Locale API?

[2019-02-07 20:35] declanvk opened #254 "ucd/ident: Add test for Pattern Syntax/Whitespace data"
Hello,

I noticed that the pattern whitespace property is incorrectly using the `pattern_syntax.rsv` table.

https://github.com/open-i18n/rust-unic/blob/6c6702a0a16185a3b075cfce37b6d34342198765/unic/ucd/ident/src/lib.rs#L125-L131

I've opened a PR with the simple substitution, #253

Thanks,
Declan

[2019-02-25 07:12] behnam commented on #254
Thanks, @declanvk, for filing the issue!

Unfortunately we haven't had unit tests for these tables, hence not catching the problem earlier. Fix is being landed in https://github.com/open-i18n/rust-unic/pull/255, but let's keep this open to also add some basic unit tests!

[2019-03-03 01:19] behnam commented on #254
I'm going to make a release, `v0.9.0`, soon, to deploy the fix for this.

[2019-03-03 01:19] #254 closed

[2019-03-06 09:18] eyeplum opened #259 "Update to Unicode 11.0"
### Description

Update external data and all modules to Unicode 11.0. For changes in Unicode 11.0, see: https://www.unicode.org/versions/Unicode11.0.0/

### Tasks

These tasks are roughly planned out according to changes in Unicode 11.0 and the potential impact of `rust-unic`'s implementation.

#### UCD

- [ ] Implement new grapheme cluster breaking rules
  - [ ] Implement the new `Extended_Picto

[2019-03-06 09:26] eyeplum opened #260 "Upgrade to Unicode 12.0"
### Description

Update external data and all modules to Unicode 12.0. For changes in Unicode 12.0, see: https://www.unicode.org/versions/Unicode12.0.0/

__Blocked by #259 .__

### Tasks

These tasks are roughly planned out according to changes in Unicode 11.0 and the potential impact of `rust-unic`'s implementation.

// TODO

[2019-03-06 20:42] kpozin opened #261 "Implement TimeZone"
Equivalent of icu4j's [TimeZone][1].

[1]: http://icu-project.org/apiref/icu4j/com/ibm/icu/util/TimeZone.html

[2019-03-06 20:45] kpozin opened #262 "Implement date and time formatting"
Based on CLDR data.

[2019-03-06 21:03] kpozin opened #263 "Implement MessageFormat"
See http://userguide.icu-project.org/formatparse/messages#TOC-MessageFormat.

Basic requirements:
- Creating a `MessageFormat` object from a format string and a locale, with format string validation.
- Accepting named or ordered arguments (`HashMap` or slice) to format a message.

[2019-03-20 21:22] Recmo commented on #153
I have a need for standards conformant culture-neutral case invariant comparison. I think this may be simple enough to contribute as a PR to unic. Where can I find the canonical specificiation of the folding algorithms and any other information I may need to implement this?

[2019-03-21 14:09] bbqsrc opened #264 "Add a `WordIndices` struct"
We have `Words`, `WordBounds` and `WordBoundIndices` but not `WordIndices`, and for a tokeniser for a spellchecker I'm working on, this would be extremely nice. :smile:

[2019-03-31 23:54] devsnek commented on #210
any word on this?

[2019-04-01 19:33] behnam commented on #264
Thanks for filing this, @bbqsrc.

We haven't spent much time on the string-level API *yet*, hence the API not being extensive. No objects to add `WordIndices`: as always, PRs are welcome!

----

Also, IMHO we should also try to come up with better naming for these as a higher-level API. A `WordIterator` in this case may actually emit white-space-only or punctuation tokens, which are not *words*, p

[2019-04-02 00:13] zbraniecki commented on #263
One additional point is that we do have a vague plan to work with Unicode on using Fluent as the base for some form of "MessageFormat 2.0".

[2019-04-08 06:29] behnam commented on #219
Tracking Unicode 11.0-related updates in #259. No need to keep this open anymore.

[2019-04-08 06:29] #219 closed

[2019-04-08 06:31] behnam commented on #259
https://github.com/unicode-rs/unicode-segmentation/issues/43 is tracking segmentation algorithm updates. I think we can keep the code in sync with `unicode-segmentation`, regardless of where we do the impl first.

[2019-04-08 07:20] behnam commented on #220
We don't download data in UNIC anymore. :)

[2019-04-08 07:20] #220 closed

[2019-04-08 07:25] behnam commented on #169
I believe we're done here. Please feel free to re-open/re-file if there's more related work left.

[2019-04-08 07:25] #169 closed

[2019-05-07 09:46] SimonSapin opened #265 "Why fork unicode-bidi?"
Hi there,

I’ve been aware of the Unic project for a while, but I’ve only today realized that it includes an `unic-bidi` crate. Its README contains:

I also see that @behnam has contributed to `unicode-bidi` in the past, and is listed as “owner” on https://crates.io/crates/unicode-bidi. So why fork it? Why not find a way to collaborate and make everyone profit from the improvements?

[2019-05-07 17:48] CAD97 commented on #265
The reason for forking to start with was the ideal of UNIC was to have everything in the monorepo to aid in keeping all of UNIC in sync.

That said, the project has lost momentum with me and @behnam being busy doing other things, so I'm not sure what the status even is right now.

I believe the ideal would be that unicode-bidi would migrate to the open-i18n organization and participate in the UNIC

[2019-05-07 18:03] SimonSapin commented on #265
I think the Servo team would have been very open to transferring the library to the UNIC umbrella project and/or repository. But as far as I can tell there was no communication at all.

[2019-05-07 18:14] CAD97 commented on #265
All that's on @behnam; I've only been helping out with the UCD part of things. And at this point I'm really not sure where the project stands.

[2019-05-13 07:01] behnam commented on #265
Hey @SimonSapin,

Sorry for the confusions caused here. Let me try to explain....

Since its inception, the goals I've had in mind for UNIC has been to take i18n work into another level, where there's need to access to plenty of data (from Unicode, ISO, etc) and new ways of working with encoded text and data models.

IMHO, the amount of integration needed between various data sources and API would

[2019-05-14 17:48] zbraniecki opened #266 "Proposal: unic-langid and unic-locale"
As the next step in the effort in #195 I pushed two crates - `unic-langid` and `unic-locale` to https://github.com/zbraniecki/unic-locale

I'm not going to release it yet, until we decide whether those crates should be part of unic or should be standalone.

I separated out the `LanguageIdentifier` because in many operations full `Locale` is not necessary or even useful, so I wanted to keep those t

[2019-05-14 17:52] zbraniecki commented on #195
I filed #266 to discuss `unic-langid` and `unic-locale`.

[2019-05-14 19:43] Manishearth commented on #266
I'd like to see these things become a part of unic, yes

[2019-05-15 14:15] zbraniecki commented on #266
@bcmyers - any chance you may have feedback on this? I believe this should become an entry point for your `num_format` crate.

[2019-05-31 09:39] ignatenkobrain opened #267 "Include LICENSE files into all sub-crates"
Unfortunately tarballs on crates.io do not contain license while it is requirement of Apache-2.0 to have it.

It should be enough to add symlink to top-level license files and publish new version.

Thanks!

[2019-06-16 22:53] zbraniecki commented on #266
I now released https://crates.io/crates/unic-langid and https://crates.io/crates/unic-locale

[2019-06-26 11:37] windelbouwman commented on #265
I understand the monorepo idea, it's easy to keep the different modules in sync.

Is this project still maintained, or is it abandoned?

[2019-06-26 16:43] behnam commented on #265
The project is maintained, but growing very slowly at this time. And we always welcome new contributors, specially if there's a specific need for something that you like to see happen in UNIC.

I'm going to close this issue, per comments above. Please feel free to continue the convo, if needed.

[2019-06-26 16:43] #265 closed

[2019-07-12 06:04] scottmcm opened #269 "WB3d: Keep horizontal whitespace together."
From the examples in https://docs.rs/unic-segment/0.9.0/unic_segment/ it appears that this crate (like unicode-segmentation) treats the boundary between two spaces as a word bound:
[code]

However [WB3d](http://www.unicode.org/reports/tr29/#WB3d) says "Keep horizontal whitespace together.", with the rule "WSegSpace × WSegSpace".  The test file https://www.unicode.org/Public/UCD/latest/ucd/auxiliar

[2019-07-30 15:39] projektir commented on #264
There also seems to be some disagreement between the [doc](https://github.com/open-i18n/rust-unic/blob/master/unic/segment/src/word.rs#L23) on the `Words` iterator and what it actually does. The doc says that the `Words` iterator should return only alphanumeric substrings, but `Words` actually returns _all_ the substrings, and the alphanumeric part is accomplished by a [filter](https://github.com/

[2019-08-10 02:36] scottmcm commented on #269
Ah this is a dup of https://github.com/open-i18n/rust-unic/issues/259 because the rule showed up in the re-issue of UAX#29 for Unicode 11 (http://www.unicode.org/reports/tr29/tr29-33.html#Modifications).

[2019-08-10 02:36] #269 closed

[2019-08-10 05:13] crlf0710 opened #270 "Support sentence boundaries in annex 29"
While this feature is less useful than others in annex 29, it would be nice to have.

[2020-04-15 02:16] Kylebrown9 opened #271 "Update links in unic/README.md"
On the following page, the listed links are used but are not valid. They have an extra `unic` in them, which was probably correct before some refactor.
https://github.com/open-i18n/rust-unic/blob/master/unic/README.md

- https://github.com/open-i18n/rust-unic/blob/master/unic/unic/ucd
- https://github.com/open-i18n/rust-unic/blob/master/unic/unic/bidi
- https://github.com/open-i18n/rust-unic/blob/

[2020-07-02 10:04] data-man commented on #260
Time for Unicode 13.0 :)

[2020-08-17 04:44] clarfon commented on #198
Worth commenting that the `unicode-linebreak` crate has implemented this, for reference.

[2020-09-01 04:42] raphlinus opened #272 "[unic-bidi] Bugs in visual_runs"
I was looking at the code of unic-bidi, considering using it for skribo-layout and trying to understand it better, and came across what I am pretty sure are some logic errors.

[code]

The first behaves as expected, the runs are [0..2, 2..9].

In the second, I expect the whitespace at the end of line to be ordered after the RTL run, i.e. I expect the runs to be [0..2, 2..6, 6..7], but I get [0..2,

[2020-09-03 17:32] raphlinus opened #273 "[unic-bidi] API concerns"
I'm looking at using unic-bidi for a contemplated text layout project. For this discussion, consider the primary goal to be adding bidi support to Piet's [TextLayout] object. I see a number of concerns.

As a higher level process issue, one way to address those concerns is to fork unic-bidi. But I see value in trying to maintain a single source of truth for BiDi in the Rust ecosystem, so it feels

[2020-09-04 01:48] sffc opened #274 "ICU4X"
Hi rust-unic folks,

I just wanted to make you all aware that the Unicode Consortium is sponsoring a project, ICU4X, which will also provide certain i18n functionality in Rust.  It is under active development with contributors from Google and Mozilla.  Read more here:

https://github.com/unicode-org/icu4x

The focus of ICU4X is more on user-level functionality like date/time/number formatting, plu

[2020-09-04 01:50] sffc commented on #273
Hi @raphlinus,

It's worth discussing whether BiDi might be in scope for ICU4X.  See more info in #274.  I encourage you to start an issue on our repository:

https://github.com/unicode-org/icu4x/issues

[2020-09-05 19:07] dhardy commented on #273
Agreed, this would be worth discussing. See also: https://github.com/kas-gui/kas-text/issues/20

Two tools are needed here in my opinion:

1. A tool to resolve the embedding levels according to TR9; this is provided by `unciode-bidi` and `unic-bidi` but the implementation is imperfect (e.g. https://github.com/servo/unicode-bidi/issues/8)
2. https://crates.io/crates/unicode-bidi-mirroring (which wo

[2020-09-05 19:23] raphlinus commented on #273
I'm curious why you need the mirroring. Shouldn't HarfBuzz take care of that for you as part of its RTL shaping? It's entirely possible there's something I'm missing though.

[2020-09-05 20:44] dhardy commented on #273
HarfBuzz does take care of it, but I also maintain a simple (Kerning only) alternative, and that uses the mirroring.

[2020-09-24 23:27] behnam commented on #274
Thanks for mentioning and advertising `icu4x`, Shane. I have been following the work sporadically, since our meeting back in Oct 2019.

I'd like to reiterate some of my points from the meeting:
1. UNIC's focus, at least at this stage of development, is to provide low-level "multilingual text processing" capabilities, for use in higher-level i18n API, or directly by applications.
2. As a result of

[2020-09-24 23:27] #274 closed

[2020-09-25 05:36] sffc commented on #274
CC @zbraniecki @manishearth @hsivonen @nciric @echeran @mihnita @filmil @kpozin

Thanks @behnam for your response.

You're correct in saying that at the current time, most "multilingual text processing" functions, such as UTS 39, UTS 46, etc., are out of scope for ICU4X.  In large part, ICU4X is focusing right now only on UTS 35 (CLDR).

I do believe there is room for collaboration, though.  Given

[2020-09-26 23:52] zbraniecki commented on #274
@behnam thank you for your feedback. I don't think what you describe as "euro-centric" design is there by design. I think it is an artifact of the expertise and contributions we received so far and I believe you could help us improve our design to be more global (which is our intention).

While this is true that we are basing our API on ICU and ECMA402, we are open to drift away in cases where we

[2020-10-21 07:15] behnam commented on #273
Thanks for the detailed report, @raphlinus; and others for valuable comments.

The state of Bidi Algorithm impl in `unic-bidi` (and `unicode-bidi` package, similarly) is indeed far from ideal. This is definitely not because of lack of interest, but because in my exploration on the solution space, I ended up noticing similar challenges around the current API, as explained in this issue.

Sharing so

[2020-10-21 07:54] dhardy commented on #273
From my point of view, `unic-bidi` should determine embedding levels, and the rest is irrelevant. Why? We have other tools (like [xi-unicode](https://crates.io/crates/xi-unicode) for line-breaking and `unicode-bidi-mirroring`) which handle most of the other jobs which can be done separately already. Re-ordering can only be done after determining line-wrap points which can only be determined after

[2020-10-26 13:55] jakobdalsgaard commented on #177
I have some rough Rust code that loads the DUCET (Default Unicode Collation Element Table) and almost have the UCA - Unicode Collation Algorithm implemented, it's rough and not pretty -- but I'd very much like to work on this -- is anyone looking into this currently? I'm looking for some good examples of Collation Element Table tailoring according to locale, but have failed to find much so far.

[2021-05-20 14:38] mbrubeck commented on #272
This is fixed by #278.  The fix is already applied to the original `unicode-bidi` crate in https://github.com/servo/unicode-bidi/pull/55.

[2021-05-29 01:43] ctrlcctrlv opened #279 "Forked library; and some thoughts about whether it's worth it to keep all modules at same Unicode version"
I'm working on a font editor, MFEK. I also contribute to Unicode when I can. One of my fonts requires characters in Unicode 14.0.

For those reasons, I had to fork the project. I only need blocks, categories, and names, so I called my version QD-UNIC—“quick and dirty UNIC”. <https://github.com/MFEK/qd-unic.rlib>

I think that, perhaps, this project was too ambitious, in the sense that all the modu

[2021-05-29 22:34] eyeplum commented on #279
I'm in a similar position with you too: I have a Unicode tool in production and need to keep the data of the app up-to-date (currently Unicode 13.0). So far I've been updating rust-unic in my own fork only https://github.com/eyeplum/rust-unic. Since my app also has a feature to perform grapheme segmentation, I also attempted a fix for `unic-ucd-segment` in Unicode 11.0 (which I presume had worked

[2021-05-29 23:15] zbraniecki commented on #279
Hi all! You may want to consider helping us with ICU4x project! One of the power features were working on is robust data provider which works with Unicode properties and should address your needs - we're currently focused on supplying the needs of regular expression and segmentation APIs but would be open to collaborate on other targets !

[2021-06-04 21:03] CAD97 commented on #279
Yeah, for the time being, ICU4x is the way to go. At least until @behnam is active again, this project is effectively on hiatus.

If you ping me, I think I can still merge PRs, but I wouldn't personally suggest using unic as a unicode table provider at the moment.

[2021-07-09 06:40] monoclex opened #280 "Digits ('0', '1', etc.) are interpreted as emojis"
Upon calling `unic::emoji::char::is_emoji('0')`, this library returns `true`. I'm not aware of the specifics of the unicode standard, but I believe that `'0'` is not an emoji.

This test may be useful to introduce:

[code]

[2021-07-12 01:15] eyeplum commented on #280
Looks like there might be a bug when generating https://github.com/open-i18n/rust-unic/blob/master/unic/emoji/char/tables/emoji.rsv#L6 so that U+0030..U+0039 were mistakenly extracted out from the original UCD file (https://github.com/open-i18n/data-unicode-ucd/blob/master/data/EmojiSources.txt).

I believe U+0030..U+0039 are only considered as emojis when they are followed by U+20E3.

[2021-07-12 01:20] eyeplum commented on #280
I believe the cause is that https://github.com/open-i18n/rust-unic/blob/master/gen/src/source/emoji/emoji_data.rs#L54 reuses the regex for parsing other binary properties (`source::ucd::BINARY_PROPERTIES_REGEX`) however the UCD file for emoji sources has a slightly different format (or rather the code points are represented as a sequence instead of a range).

[2022-04-30 10:36] csarta opened #282 "unic-ucd-hangul crate does not contain any license files"
Hello there! I was trying to create a package for Fedora when I realized that the [hangul crate](https://crates.io/crates/unic-ucd-hangul) does not contain any license files.
Both the MIT and Apache-2.0 license require that redistributed sources contain a copy of the license text.

[2022-09-17 08:28] crlf0710 commented on #260
Time for Unicode 15.0 :(

I'm... trying to help implementing https://github.com/rust-lang/rust/issues/101840 . Currently `rustc` is relying on `unic_emoji_char::is_emoji` for diagnostics. But it seems the Unicode data here is quite outdated...

[2022-09-17 09:38] eyeplum commented on #260
Hi there!

I have been using [my own fork](https://github.com/open-i18n/rust-unic/compare/master...eyeplum:rust-unic:develop) in recent years, the fork is currently updated to Unicode 14.0 (and will be updated to Unicode 15.0 soon).

I've been meaning to eventually merge those changes into here, perhaps now is a good time to give it a go :)

Cc: @behnam

[2022-09-17 09:43] eyeplum commented on #260
My fork current has these changes:
- A new module for Unihan (data updated to Unicode 14.0)
- Unicode 11.0 data changes and segmentation algorithm changes
- Unicode 12.0 and 12.1 data changes
- Unicode 13.0 data changes
- Unicode 14.0 data changes

If we want them to be merged here, I think we will need to decide a way to release the changes. Perhaps each Unicode version as a point releases? E.g.: